{% extends "billy_the_messenger/menu.html" %}
{% load staticfiles %}
{% block content %}
    <div class="container pt-3">
        <p class="text-center display-3">
            Об авторах
        </p>
        <div class="row">
            <div class="col-sm">
                <div>
                    <p class="display-4">
                        Lead Programmers
                    </p>
                </div>
                <div>
                    <p>
                        Зайков Егор
                    </p>
                </div>
                <div>
                    <p>
                        Масянов Андрей
                    </p>
                </div>
            </div>
            <div class="col-sm">
                <div>
                    <p class="display-4">
                        Front-end
                    </p>
                </div>
                <div>
                    <p>
                        Михедин Игнат
                    </p>
                </div>
                <div>
                    <p>
                        Гогарев Игорь
                    </p>
                </div>
                <div>
                    <p>
                        Сигалов Давид
                    </p>
                </div>
                <div>
                    <p>
                        Павленко Никита
                    </p>
                </div>
                <div>
                    <p>
                        Лапко Егор
                    </p>
                </div>

            </div>
            <div class="col-sm">
                <div>
                    <p class="display-4">
                        Back-end
                    </p>
                </div>
                <div>
                    <p>
                        Антонов Сергей
                    </p>
                </div>

                <div>
                    <p>
                        Богомолов Алексей
                    </p>
                </div>
                <div>
                    <p>
                        Жиганов Александр
                    </p>
                </div>
                <div>
                    <p>
                        Жухлистов Станислав
                    </p>
                </div>
                <div>
                    <p>
                        Мустафин Артем
                    </p>
                </div>
                <div>
                    <p>
                        Нуров Глеб
                    </p>
                </div>
                <div>
                    <p>
                        Сафин Алексей
                    </p>
                </div>
                <div>
                    <p>
                        Скрябин Глеб
                    </p>
                </div>
                <div>
                    <p>
                        Торчик Лада
                    </p>
                </div>
                <div>
                    <p>
                        Шапошник Никита
                    </p>
                </div>
                <div>
                    <p>
                        Плетнев Артем
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
