{% extends "billy_the_messenger/menu.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container pt-3">
        <div class="row">
            <div class="col col-lg-5 mx-auto">
                <form class="form" action="{% url 'recover_password' %}" method="post">
                    {% csrf_token %}
                    <img class="mb-4" src="{% static 'images/logo.png' %}" width="61%">
                    <div class="alert-info alert">
                        Пароль будет отправлен на почту, указанную, при регистрации
                    </div>
                    <h1 class="h3 mb-3 font-weight-normal">Заполните поля</h1>
                    {{ recover_form|crispy }}
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Сбросить пароль</button>
                    </span>
                </form>
            </div>
        </div>
    </div>
{% endblock %}